<div class="user-form">
  <form action="/team/<%= @team.id%>/edit" method="POST">
    <input type="hidden" name="_method" value="PUT">
    Team Name: <input type="text" name="team[name]" value= "<%= @team.name %>"><br>
    <input type="submit" value="Update"><br>
  </form>
</div>