<h2> Create Your Team </p2>
<div class="user-form">
  <form action="/team/new" method="POST">
    Name: <input type="text" name="team[name]"><br>
   <input type="submit" value="Create"><br>
  </form>
</div>