<div id="user-info">
  <h2> User Name: <%= @user.name %> </h2>
  <h2> Team Name: <%= @user.team.name %> </h2>
  <h2> Joined League: <%= @user.team.created_at %> </h2>
</div>

<% if ( (current_user != nil) && (@user.id == current_user.id) )%>
<a href="/user/<%= @user.id %>/edit" >Edit Info </a>
<% end %>

