<div class="user-form">
  <form action="/signup" method="POST">
    Name: <input type="text" name="user[name]"><br>
    Password: Name: <input type="password" name="user[password]"><br>
    Confirm Password <input type="password" name="user[password_confirmation]"><br>
   <input type="submit" value="Signup"><br>
  </form>
</div>