
<div id="welcome-table">

  <table>
    <tr>
      <th>Team Name</th>
      <th>Owner </th>
    </tr>

    <% @teams.each do |team| %>
    <tr>
      <td> <%= team.name  %> </td>
      <td> <%= team.owner %> </td>
    </tr>
    <% end %>
  </table>


  <% if !current_user_has_team? %>

    <a href="/team/new"> Create a Team! </a>
  <% end %>

</div>